{%- comment -%} ---------------------------------------------------------------------------
 include:       acknowlegements_individual_contributors_table.html
 description:   Table is included by the page '2017/Acknowledgements.md'
 usage:         {%- include acknowlegements_individual_contributors_table.html -%}
 parameters:    (none)
------------------------------------------------------------------------ {%- endcomment -%} 
</div>
<!-- Individual Contributors Table ---> 
<center><table class="mytable" style=" width: 97%; height: 0.9em; align: center; text-align: left; border-collapse: collapse; margin: 0px 0px 10px 0px; border: 0px; background-color: transparent; padding=2;">
<tr><td> &bull; ak47gen         </td><td> &bull; drwetter       </td><td> &bull; ilatypov           </td><td> &bull; neo00              </td><td> &bull; starbuck3000       </td></tr>
<tr><td> &bull; alonergan       </td><td> &bull; dune73         </td><td> &bull; irbishop           </td><td> &bull; nickthetait        </td><td> &bull; stefanb            </td></tr>
<tr><td> &bull; ameft           </td><td> &bull; ecbftw         </td><td> &bull; itscooper          </td><td> &bull; ninedter           </td><td> &bull; sumitagarwalusa    </td></tr>
<tr><td> &bull; anantshri       </td><td> &bull; einsweniger    </td><td> &bull; ivanr              </td><td> &bull; ossie-git          </td><td> &bull; taprootsec         </td></tr>
<tr><td> &bull; bandrzej        </td><td> &bull; ekobrin        </td><td> &bull; jeremylong         </td><td> &bull; PauloASilva        </td><td> &bull; tghosth            </td></tr>
<tr><td> &bull; bchurchill      </td><td> &bull; eoftedal       </td><td> &bull; jhaddix            </td><td> &bull; PeterMosmans       </td><td> &bull; TheJambo           </td></tr>
<tr><td> &bull; binarious       </td><td> &bull; frohoff        </td><td> &bull; jmanico            </td><td> &bull; pontocom           </td><td> &bull; thesp0nge          </td></tr>
<tr><td> &bull; bkimminich      </td><td> &bull; fzipi          </td><td> &bull; joaomatosf         </td><td> &bull; psiinon            </td><td> &bull; toddgrotenhuis     </td></tr>
<tr><td> &bull; Boberski        </td><td> &bull; gebl           </td><td> &bull; jrmithdobbs        </td><td> &bull; pwntester          </td><td> &bull; troymarshall       </td></tr>
<tr><td> &bull; borischen       </td><td> &bull; Gilc83         </td><td> &bull; jsteven            </td><td> &bull; raesene            </td><td> &bull; tsohlacol          </td></tr>
<tr><td> &bull; Calico90        </td><td> &bull; gilzow         </td><td> &bull; jvehent            </td><td> &bull; riramar            </td><td> &bull; vdbaan             </td></tr>
<tr><td> &bull; chrish          </td><td> &bull; global4g       </td><td> &bull; katyanton          </td><td> &bull; ruroot             </td><td> &bull; yohgaki            </td></tr>
<tr><td> &bull; clerkendweller  </td><td> &bull; grnd           </td><td> &bull; kerberosmansour    </td><td> &bull; securestep9        </td><td> &nbsp;                    </td></tr>
<tr><td> &bull; D00gs           </td><td> &bull; h3xstream      </td><td> &bull; koto               </td><td> &bull; securitybits       </td><td> &nbsp;                    </td></tr>
<tr><td> &bull; davewichers     </td><td> &bull; hiralph        </td><td> &bull; m8urnett           </td><td> &bull; SPoint42           </td><td> &nbsp;                    </td></tr>
<tr><td> &bull; drkknight       </td><td> &bull; HoLyVieR       </td><td> &bull; mwcoates           </td><td> &bull; sreenathsasikumar  </td><td> &nbsp;                    </td></tr>
</table></center> 
<!-- End Individual Contributors Table --->
<div markdown="span">