{%- comment -%} ---------------------------------------------------------------------------
 include:       acknowlegements_data_contributors_table.html
 description:   Table is included by the page '2017/Acknowledgements.md'
 usage:         {%- include acknowlegements_data_contributors_table.html -%}
 parameters:    (none)
------------------------------------------------------------------------ {%- endcomment -%} 
</div><br>
<!-- Data Contributors Table ---> 
<center><table class="mytable" style=" width: 97%; height: 0.9em; align: center; text-align: left; border-collapse: collapse; margin: 0px 0px 10px 0px; border: 0px; background-color: transparent; padding=2;">
<tr><td> &bull; ANCAP               </td><td> &bull; ContextIS	        </td><td> &bull; ITsec Security Services bv         </td><td> &bull;  Paladion Networks     </td></tr>
<tr><td> &bull; Aspect Security     </td><td> &bull; Contrast Security  </td><td> &bull; Khallagh                           </td><td> &bull;  Purpletalk            </td></tr>
<tr><td> &bull; AsTech Consulting   </td><td> &bull; DDoS.com           </td><td> &bull; Linden Lab                         </td><td> &bull;  Secure Network        </td></tr>
<tr><td> &bull; Atos                </td><td> &bull; Derek Weeks        </td><td rowspan="2"> &bull; M. Limacher<br>
                                                                                  &nbsp; IT Dienstleistungen                </td><td> &bull; Shape Security         </td></tr>
<tr><td> &bull; Branding Brand      </td><td> &bull; Easybss                                                                </td><td> &bull; SHCP                   </td></tr>
<tr><td> &bull; Bugcrowd            </td><td> &bull; Edgescan		    </td><td> &bull; Micro Focus Fortify	            </td><td> &bull; Softtek                </td></tr>
<tr><td> &bull; BUGemot             </td><td> &bull; EVRY		        </td><td> &bull; Minded Security	                </td><td> &bull; Synopsis               </td></tr>
<tr><td> &bull; CDAC                </td><td> &bull; EZI	            </td><td rowspan="3"> &bull;  National Center for<br>
                                                                                  &nbsp; Cyber Security<br>
                                                                                  &nbsp; Technology                         </td><td> &bull; TCS                    </td></tr>
<tr><td> &bull; Checkmarx           </td><td> &bull; Hamed	                                                                </td><td> &bull; Vantage Point          </td></tr>
<tr><td rowspan="2">
         &bull; Colegio LaSalle<br>
         &nbsp; Monteria            </td><td> &bull; Hidden                                                                 </td><td> &bull; Veracode               </td></tr>
<tr>                                     <td> &bull; I4 Consulting      </td><td> &bull; Network Test Labs Inc. 	        </td><td> &bull; Web.com                </td></tr>
<tr><td> &bull; Company.com         </td><td rowspan="2"> 
                                              &bull; iBLISS Seguran̤a<br>
                                              &nbsp; & Inteligencia     </td><td> &bull; Osampa	                            </td><td> &nbsp;                        </td></tr>

<tr><td> &nbsp;                                                         </td><td> &nbsp;                                    </td><td> &nbsp;                        </td></tr>
</table></center> 
<!-- End Data Contributors Table --->
<div markdown="span">