{%- comment -%} ---------------------------------------------------------------------------
 include:       changes_from_2013_to_2017_table.html
 description:   Table is included by the page 'Top_10-2017_Details_About_Risk_Factors.md'
 usage:         {%- include changes_from_2013_to_2017_table.html -%}
 parameters:    (none)
------------------------------------------------------------------------ {%- endcomment -%} 
<!-- Changes from 2013 to 2017 Table ---> 
<center><table style="width: 99%; align:center; text-align:left; border: 2px solid #4a1647; background-color:#F2F2F2; padding=2;">
<tr style="background-color: #4a1647; color: #FFFFFF; text-align:center;">
<th> OWASP Top 10 - 2013 (Previous Version) </th>
<th> <b>&#8658;</b> </th>
<th> OWASP Top 10 - 2017 (Current Version)
</th></tr>
<tr style="background-color: #FFFFFF;">
<td> <a href="https://wiki.owasp.org/index.php/Top_10_2013-A1-Injection" title="Top_10_2013-A1-Injection">A1-Injection</a>
</td>
<td style="font-size:120%; text-align:center;"> <b>&#8658;</b>
</td>
<td> <a href="Top_10-2017_A1-Injection" title="Top_10-2017_A1-Injection">A1:2017-Injection</a>
</td></tr>
<tr style="background-color: #FFFFFF;">
<td> <a href="https://wiki.owasp.org/index.php/Top_10_2013-A2-Broken_Authentication_and_Session_Management" title="Top_10_2013-A2-Broken Authentication and Session Management">A2-Broken Authentication and Session Management</a>
</td>
<td style="font-size:120%; text-align:center;"> <b>&#8658;</b>
</td>
<td> <a href="Top_10-2017_A2-Broken_Authentication" title="Top_10-2017_A2-Broken Authentication">A2:2017-Broken Authentication</a>
</td></tr>
<tr style="background-color: #FFFFFF;">
<td> <a href="https://wiki.owasp.org/index.php/Top_10_2013-A3-Cross-Site_Scripting_(XSS)" title="Top_10_2013-A3-Cross-Site Scripting (XSS)">A3-Cross-Site Scripting (XSS)</a>
</td>
<td style="font-size:120%; text-align:center;"> <b>&#8664;</b>
</td>
<td> <a href="Top_10-2017_A3-Sensitive_Data_Exposure" title="Top_10-2017_A3-Sensitive Data Exposure">A3:2017-Sensitive Data Exposure</a>
</td></tr>
<tr style="background-color: #F2F1FF;">
<td> <a href="https://wiki.owasp.org/index.php/Top_10_2013-A4-Insecure_Direct_Object_References" title="Top_10_2013-A4-Insecure Direct Object References">A4-Insecure Direct Object References</a> - [Merged + A7]
</td>
<td style="font-size:120%; text-align:center; background-color: #FFFFFF;"> <b>&#8746;</b>
</td>
<td> <a href="Top_10-2017_A4-XML_External_Entities_(XXE)" title="Top_10-2017_A4-XML External Entities (XXE)">A4:2017-XML External Entities (XXE)</a> [NEW]
</td></tr>
<tr style="background-color: #FFFFFF;">
<td> <a href="https://wiki.owasp.org/index.php/Top_10_2013-A5-Security_Misconfiguration" title="Top_10_2013-A5-Security Misconfiguration">A5-Security Misconfiguration</a>
</td>
<td style="font-size:120%; text-align:center;"> <b>&#8664;</b>
</td>
<td style="background-color: #F2F1FF;"> <a href="Top_10-2017_A5-Broken_Access_Control" title="Top_10-2017_A5-Broken Access Control">A5:2017-Broken Access Control</a> [Merged]
</td></tr>
<tr style="background-color: #FFFFFF;">
<td> <a href="https://wiki.owasp.org/index.php/Top_10_2013-A6-Sensitive_Data_Exposure" title="Top_10_2013-A6-Sensitive Data Exposure">A6-Sensitive Data Exposure</a>
</td>
<td style="font-size:120%; text-align:center;"> <b>&#8663;</b>
</td>
<td> <a href="Top_10-2017_A6-Security_Misconfiguration" title="Top_10-2017_A6-Security Misconfiguration">A6:2017-Security Misconfiguration</a>
</td></tr>
<tr style="background-color: #FFFFFF;">
<td style="background-color: #F2F1FF;"> <a href="https://wiki.owasp.org/index.php/Top_10_2013-A7-Missing_Function_Level_Access_Control" title="Top_10_2013-A7-Missing Function Level Access Control">A7-Missing Function Level Access Control</a> - [Merged + A4]
</td>
<td style="font-size:120%; text-align:center;"> <b>&#8746;</b>
</td>
<td> <a href="Top_10-2017_A7-Cross-Site_Scripting_(XSS)" title="Top_10-2017_A7-Cross-Site Scripting (XSS)">A7:2017-Cross-Site Scripting (XSS)</a>
</td></tr>
<tr style="background-color: #F2F1FF;">
<td> <a href="https://wiki.owasp.org/index.php/Top_10_2013-A8-Cross-Site_Request_Forgery_(CSRF)" title="Top_10_2013-A8-Cross-Site Request Forgery (CSRF)">A8-Cross-Site Request Forgery (CSRF)</a> [Dropped]
</td>
<td style="font-size:120%; text-align:center; background-color: #FFFFFF;"> <b>&#9746;</b>
</td>
<td> <a href="Top_10-2017_A8-Insecure_Deserialization" title="Top_10-2017_A8-Insecure Deserialization">A8:2017-Insecure Deserialization</a> [NEW, Community]
</td></tr>
<tr style="background-color: #FFFFFF;">
<td> <a href="https://wiki.owasp.org/index.php/Top_10_2013-A9-Using_Components_with_Known_Vulnerabilities" title="Top_10_2013-A9-Using Components with Known Vulnerabilities">A9-Using Components with Known Vulnerabilities</a>
</td>
<td style="font-size:120%; text-align:center;"> <b>&#8658;</b>
</td>
<td> <a href="Top_10-2017_A9-Using_Components_with_Known_Vulnerabilities" title="Top_10-2017_A9-Using Components with Known Vulnerabilities">A9:2017-Using Components with Known Vulnerabilities</a>
</td></tr>
<tr style="background-color: #F2F1FF;">
<td> <a href="https://wiki.owasp.org/index.php/Top_10_2013-A10-Unvalidated_Redirects_and_Forwards" title="Top_10_2013-A10-Unvalidated Redirects and Forwards">A10-Unvalidated Redirects and Forwards</a> [Dropped]
</td>
<td style="font-size:120%; text-align:center; background-color: #FFFFFF;"> <b>&#9746;</b>
</td>
<td> <a href="Top_10-2017_A10-Insufficient_Logging%252526Monitoring" title="Top_10-2017_A10-Insufficient Logging &amp; Monitoring">A10:2017-Insufficient Logging&amp;Monitoring</a> [NEW, Community]
</td></tr>
</table></center>