{%- comment -%} ---------------------------------------------------------------------------
 include:       risk_factors.html
 description:   Compile Risk factor elements by the likelihood
 usage:         {%- include risk_factors.html exploitability=3 prevalence=2 detectability=1 technical=3 width='16.5%' type="names" icons=1 -%}
 parameters:    exploitability: 1-3 => 1-Easy to 3-Difficult
                prevalence:     1-3 => 1-Uncommon to 3-Widespread (Weakness)
                detectability:  1-3 => 1-Easy to 3-Difficult (Weakness)
                technical:      1-3 => 1-Minor to 3-Severe (Impacts)
                width:          'x%'  => define the width of all columns (default: 16.5%)
                type:       'names' => Add risk Factor names by likelyhood (optional)
                icons:          1   => optional additional icons
------------------------------------------------------------------------ {%- endcomment -%} 
{%- case include.type -%}
 {%- when "names" -%}
    {% include risk_factors_color.html likelihood=include.exploitability width=include.width icons=include.icons -%}
     {%- include risk_factors_exploitability_names.html likelihood=include.exploitability -%}: {{include.exploitability}} </td>
    {% include risk_factors_color.html likelihood=include.prevalence width=include.width icons=include.icons -%}
     {%- include risk_factors_prevalence_names.html likelihood=include.prevalence -%}: {{include.prevalence}} </td>
    {% include risk_factors_color.html likelihood=include.detectability width=include.width icons=include.icons -%}
     {%- include risk_factors_detectability_names.html likelihood=include.detectability -%}: {{include.detectability}} </td>
    {% include risk_factors_color.html likelihood=include.technical width=include.width icons=include.icons -%}
     {%- include risk_factors_technical_names.html likelihood=include.technical -%}: {{include.technical}} </td>
 {%- else -%}
    {%- include risk_factors_color.html likelihood=include.exploitability width=include.width icons=include.icons -%}
     {%- include i18n.html token='exploitability' -%}: {{include.exploitability}} </td>
    {% include risk_factors_color.html likelihood=include.prevalence width=include.width icons=include.icons -%}
     {%- include i18n.html token='prevalence' -%}: {{include.prevalence}} </td>
    {% include risk_factors_color.html likelihood=include.detectability width=include.width icons=include.icons -%}
     {%- include i18n.html token='detectability' -%}: {{include.detectability}} </td>
    {% include risk_factors_color.html likelihood=include.technical width=include.width icons=include.icons -%}
     {%- include i18n.html token='technical' -%}: {{include.technical}} </td>
{% endcase %}