{%- if {{include.pos}} == "firstLeft" -%}
<tr>
 {%- elsif {{include.pos}} == "left" -%}
</div></td></tr>
<tr>
 {%- elsif {{include.pos}} == "mid" -%}
</div></td>
 {%- elsif {{include.pos}} == "right" -%}
</div></td>
{%- endif -%}
{% case page.year %}
 {%- when 2017 -%}
 <td colspan="2" style="vertical-align: top; text-align: left; border: 3px solid #444444;">
 {%- else -%}
 <td colspan="2" style="vertical-align: top; text-align: left; border: 3px solid #444444;">
{%- endcase -%}
<div markdown="span">