{%- if {{include.pos}} == "firstLeft" -%}
<tr>
 {%- elsif {{include.pos}} == "left" -%}
</div></td></tr>
<tr>
 {%- elsif {{include.pos}} == "right" -%}
</div></td>
{%- endif -%}
<td style="vertical-align: top; padding: 5px; width: 50%; border: 3px solid #4a1647; background-color: #F2F1FF;">
<div style="font-style: bold; color: #4a1647; border-bottom: #999999 solid 1px; margin-bottom: 3px; padding-bottom: 3px; font-size: 150%;">
 {%- if {{include.token}} -%} {%- t {{include.token}} -%}
 {%- else -%} {{include.text}}
 {%- endif -%}
</div>
<div markdown="span">