{%- comment -%} ---------------------------------------------------------------------------
 include:       2017/es/2017_changes_from_2013_to_2017_table.html
 description:   Table is included by the page '2017/es/Novedades_de_esta_versión.md'
 usage:         {%- include 2017/es/2017_changes_from_2013_to_2017_table.html -%}
 parameters:    (none)
------------------------------------------------------------------------ {%- endcomment -%} 
<!-- Changes from 2013 to 2017 Table ---> 
<center><table style="width: 99%; align:center; text-align:left; border: 2px solid #4a1647; background-color:#F2F2F2; padding=2;">
<tr style="background-color: #4a1647; color: #FFFFFF; text-align:center;">
<th> OWASP Top 10 - 2013 (Versión anterior)</th>
<th> <b>&#8658;</b> </th>
<th> OWASP Top 10 - 2017(Esta versión)</th>
</tr>
<tr style="background-color: #FFFFFF;">
<td> 
  <a href="https://wiki.owasp.org/index.php/Top_10_2013-A1-Injection" 
    title="Top_10_2013-A1-Injection">A1-Inyección</a>
</td>
<td style="font-size:120%; text-align:center;"> <b>&#8658;</b>
</td>
<td> 
  <a href="A1_2017-Inyección" title="A1_2017-Inyección">A1:2017-Inyección</a>
</td></tr>
<tr style="background-color: #FFFFFF;">
<td> 
  <a href="https://wiki.owasp.org/index.php/Top_10_2013-A2-Broken_Authentication_and_Session_Management" 
     title="Top_10_2013-A2-Broken Authentication and Session Management">
    A2-Pérdida de Autenticación y Administración de la Sesión
  </a>
</td>
<td style="font-size:120%; text-align:center;"> <b>&#8658;</b>
</td>
<td> 
  <a href="A2_2017-Pérdida_de_Autenticación" 
    title="A2_2017-Pérdida_de_Autenticación">
    A2:2017 - Pérdida de Autenticación
  </a>
</td></tr>
<tr style="background-color: #FFFFFF;">
<td> 
  <a href="https://wiki.owasp.org/index.php/Top_10_2013-A3-Cross-Site_Scripting_(XSS)" 
    title="Top_10_2013-A3-Secuencias_de_Comandos_en_Sitios_Cruzados_(XSS)">
    A3-Secuencias de Comandos en Sitios Cruzados (XSS)
  </a>
</td>
<td style="font-size:120%; text-align:center;"> <b>&#8664;</b>
</td>
<td> 
  <a href="A3_2017-Exposición_de_datos_sensibles" 
     title="A3_2017-Exposición de datos sensibles">
    A3:2017 - Exposición de datos sensibles
  </a>
</td></tr>
<tr style="background-color: #F2F1FF;">
<td> 
  <a href="https://wiki.owasp.org/index.php/Top_10_2013-A4-Insecure_Direct_Object_References" 
    title="Top_10_2013-A4 - Referencia Directa Insegura a Objetos">
    A4 - Referencia Directa Insegura a Objetos
  </a> [Unido+A7]
</td>
<td style="font-size:120%; text-align:center; background-color: #FFFFFF;"> <b>&#8746;</b>
</td>
<td> 
  <a href="A4_2017-Entidades_externas_XML_(XXE)" 
    title="A4_2017-Entidades externas XML (XXE)">
    A4:2017 - Entidades externas XML (XXE)"
  </a> [Nuevo]
</td></tr>
<tr style="background-color: #FFFFFF;">
<td>
  <a href="https://wiki.owasp.org/index.php/Top_10_2013-A5-Security_Misconfiguration"
    title="Top_10_2013-A5-Configuración de Seguridad Incorrecta">
    A5-Configuración de Seguridad Incorrecta
  </a>
</td>
<td style="font-size:120%; text-align:center;"> <b>&#8664;</b>
</td>
<td style="background-color: #F2F1FF;">
  <a href="A5_2017-Pérdida_de_Control_de_Acceso"
     title="A5_2017 - Pérdida de Control de Acceso">
    A5:2017 - Pérdida de Control de Acceso
  </a> [Unido]
</td></tr>
<tr style="background-color: #FFFFFF;">
<td>
  <a href="https://wiki.owasp.org/index.php/Top_10_2013-A6-Sensitive_Data_Exposure"
    title="Top_10_2013-A6-Exposición de Datos Sensibles">
    A6 - Exposición de Datos Sensibles
  </a>
</td>
<td style="font-size:120%; text-align:center;"> <b>&#8663;</b>
</td>
<td>
  <a href="A6_2017-Configuración_de_Seguridad_incorrecta"
     title="A6_2017-Configuración de Seguridad incorrecta">
    A6:2017 - Configuración de Seguridad incorrecta
  </a>
</td></tr>
<tr style="background-color: #FFFFFF;">
<td style="background-color: #F2F1FF;"> 
  <a href="https://wiki.owasp.org/index.php/Top_10_2013-A7-Missing_Function_Level_Access_Control"
     title="Top_10_2013-A7-Ausencia de Control de Acceso a las Funciones">
     A7 - Ausencia de Control de Acceso a las Funciones
  </a> [Unido+A4]
</td>
<td style="font-size:120%; text-align:center;"> <b>&#8746;</b>
</td>
<td> 
  <a href="A7_2017-Secuencias_de_Comandos_en_Sitios_Cruzados_(XSS)" 
     title="A7_2017-Secuencias de Comandos en Sitios Cruzados_(XSS)">
    A7:2017 - Secuencias de Comandos en Sitios Cruzados_(XSS)
  </a>
</td></tr>
<tr style="background-color: #F2F1FF;">
<td> 
  <a href="https://wiki.owasp.org/index.php/Top_10_2013-A8-Cross-Site_Request_Forgery_(CSRF)"
      title="Top_10_2013-A8-Falsificación de Peticiones en Sitios Cruzados (CSRF)">
  A8 - Falsificación de Peticiones en Sitios Cruzados (CSRF)
  </a>
</td>
<td style="font-size:120%; text-align:center; background-color: #FFFFFF;"> <b>&#9746;</b>
</td>
<td> 
  <a href="A8_2017-Deserialización_Insegura" 
     title="A8_2017-Deserialización Insegura">
    A8:2017 - Deserialización Insegura
  </a> [Nuevo, Comunidad]
</td></tr>
<tr style="background-color: #FFFFFF;">
<td> 
  <a href="https://wiki.owasp.org/index.php/Top_10_2013-A9-Using_Components_with_Known_Vulnerabilities"
      title="Top_10_2013-A9-Uso de Componentes con Vulnerabilidades Conocidas">
    A9 - Uso de Componentes con Vulnerabilidades Conocidas
  </a>
</td>
<td style="font-size:120%; text-align:center;"> <b>&#8658;</b>
</td>
<td> 
  <a href="A9_2017-Uso_de_Componentes_con_vulnerabilidades_conocidas" 
     title="A9_2017-Uso de Componentes con vulnerabilidades conocidas">
    A9:2017 - Uso de Componentes con vulnerabilidades conocidas
  </a>
</td></tr>
<tr style="background-color: #F2F1FF;">
<td> 
  <a href="https://wiki.owasp.org/index.php/Top_10_2013-A10-Unvalidated_Redirects_and_Forwards" 
     title="Top_10_2013-A10-Redirecciones y Reenvíos no Validados">
    A10 - Redirecciones y Reenvíos no Validados
  </a>
</td>
<td style="font-size:120%; text-align:center; background-color: #FFFFFF;"> <b>&#9746;</b>
</td>
<td> 
  <a href="A10_2017-Registro_y_Monitoreo_Insuficientes" 
     title="A10_2017-Registro y Monitoreo Insuficientes">
    A10:2017 - Registro y Monitoreo Insuficientes
  </a> [Nuevo, Comunidad]
</td></tr>
</table></center>
